<!doctype html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Baby Tracker app</title>
    <link href="{% static 'baby_tracker_app/bootstrap.min.css' %}" rel="stylesheet">
    <script defer src="{% static 'baby_tracker_app/bootstrap.bundle.min.js' %}"></script>
</head>

<body
    style="font-family: 'Quicksand', sans-serif; background-color: #fbfbf2; color: #4a4a4a; max-width: 1100px; margin: 0 auto; padding: 0 1.5rem; width: 100%; line-height: 1.6;">

    <nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="/">
                <img src="{% static 'baby_tracker_app/logo.png' %}" alt="Logo" style="height: 60px; width: auto;"
                    class="rounded">

                <div class="lh-1">
                    <span class="d-block fs-3 fw-bold text-dark">Baby</span>
                    <span class="d-block fs-6 fw-bold text-success" style="letter-spacing: 1px;">
                        Tracker App
                    </span>
                </div>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-5 text-muted">
                    {% block nav_links %}
                    {% endblock %}

                    <hr class="d-lg-none my-2 text-muted">

                    {% if user.is_authenticated %}
                    <li class="nav-item fw-bold px-3">
                        <a class="nav-link" href="/overview/">Baby Overview</a>
                    </li>
                    <li class="nav-item fw-bold px-3">
                        <a class="nav-link" href="/accounts/profile/">
                            <i class="bi bi-person"></i>{{ user.username }}
                        </a>
                    </li>
                    <li class="nav-item fw-bold mt-2 mt-lg-0 ms-lg-2">
                        <form action="/accounts/logout/" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm rounded-pill px-3 fw-bold"
                                style="color: #000000; border: none;">
                                Log Out
                            </button>
                        </form>
                    </li>
                    {% else %}
                    <li class="nav-item fw-bold px-3">
                        <a class="btn btn-outline-primary btn-sm rounded-pill px-4" href="/accounts/login/">Log In</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <main class="container">
        {% block base_content %}
        {% endblock %}
    </main>

    <footer class="py- mt-5 border-top">
        <div class="container text-center">
            <p class="mb-0 text-muted">&copy; 2026 BabyTrackerApp.</p>
        </div>
    </footer>


</body>

</html>