{% extends 'baby_tracker_app/_base.html' %}

{% block base_content %}
<div class="container mt-4">
    <div class="text-center mb-5">
        <h1 class="display-4">{{ baby.name }}'s Dashboard</h1>
        <p class="text-muted">Born on: {{ baby.birth_date }}</p>
    </div>

    {% if baby.image %}
    <img src="{{ baby.image.url }}" alt="">
    {% endif %}

    <div class="row g-4">
        <div class="col-md-4">
            <div class="card h-100 shadow-sm border-primary">
                <div class="card-body text-center">
                    <h3 class="card-title">🍼 Feeding</h3>
                    <p class="small text-muted">
                        Last:
                        {% if latest_feeding %}
                        {{ latest_feeding.amount }}ml at
                        {{ latest_feeding.time|date:"H:i"}}
                        {% else %}No data
                        {% endif %}
                    </p>
                    <a href="/overview/{{ baby.pk }}/feeding/" class="btn btn-primary w-100 mt-2">Log
                        Milk</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100 shadow-sm border-success">
                <div class="card-body text-center">
                    <h3 class="card-title">🌙 Sleep</h3>
                    <p class="small text-muted">
                        Last: {% if latest_sleep %}
                        {{ latest_sleep.start_time|date:"d.m. H:i" }}
                        {% else %}No data
                        {%endif %}
                    </p>
                    <a href="/overview/{{ baby.pk }}/sleep/" class="btn btn-success w-100 mt-2">Log
                        Sleep</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100 shadow-sm border-info">
                <div class="card-body text-center">
                    <h3 class="card-title">📈 Growth</h3>
                    <p class="small text-muted">
                        Last Weight: {% if latest_growth %}
                        {{ latest_growth.weight }}kg
                        {% else %}No data
                        {% endif %}
                    </p>
                    <a href="/overview/{{ baby.pk }}/growth/" class="btn btn-info text-white w-100 mt-2">Update
                        Stats</a>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-5">
        <a href="{/overview/}" class="text-decoration-none text-secondary">← Back to Overview</a>
    </div>
</div>
{% endblock %}