{% extends 'baby_tracker_app/_base.html' %}

{% block base_content %}
<div class="container py-4">
    <div class="text-center mb-5">
        <h1 class="fw-bold">Overview of all babies</h1>

        <a href="/overview/add/" class="btn btn-success rounded-pill px-4 mt-2 shadow-sm">
            <i class="bi bi-plus-lg"></i> Add New Baby
        </a>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-4 justify-content-center">
        {% include "baby_tracker_app/include/overview.html" %}
    </div>
</div>
{% endblock %}