{% extends 'baby_tracker_app/_base.html' %}

{% block base_content %}
<h1>overview of all babies</h1>

<div>
    {{ babies }} {{ request }} {{ name }}
</div>

{% for baby in babies %}
<div class="col">
    <div class="card" style="max-width: calc(320px - 1.5rem)">
        <img src="https://placehold.co/200" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">{{ baby.baby_id }} {{ baby.name }}</p>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}